.grid {
  margin: 0 auto;
  list-style: none;
}

.grid .item-product {
  padding: 20px 10px 50px 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  position: relative;
}

.grid .item-product:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.grid .missing-articles-item {
  padding-left: 10px;
  padding-right: 10px;
}

.grid .right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.grid figure {
  margin: 0;
  height: 100%;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.grid figure .img-2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.grid figure:hover .img-2 {
  display: inline;
}

@media screen and (max-width: 31.5em) {
  .grid .img-product {
    width: 100%;
  }
}

