.form-login{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.form-register{
    width: 500px;
    min-height: 650px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding-bottom: 10px;
}
body{
    background-color: #e9faff;
}
.title{
    color: #0d6aad;
}
.input-c{
    height: 50px;
}

.error {
    color: red;
}
