

/* The heart of the matter */
.testimonial-group>.row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group>.row>.col-xs-4 {
    display: inline-block;
    float: none;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}


.carousel-inner .active.left {
    left: -33%;
}

.active{
    .col-lg-3:first-child, .col-xs-3:first-child, .col-md-3:first-child, .col-sm-3:first-child{
        padding-left: 0;
    }
    .col-lg-3:last-child, .col-xs-3:last-child, .col-md-3:last-child, .col-sm-3:last-child{
        padding-right: 0;
    }
}

#single-image{
    padding-top: 20px;
    padding-bottom: 10px;
}

.carousel-inner .next {
    left: 33%;
}

.carousel-inner .prev {
    left: -33%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    top: 0 !important;
}

.item:not(.prev) {
    visibility: visible;
}

.item.right:not(.prev) {
    visibility: hidden;
}
.item {
    .col-lg-3, .col-xs-3, .col-md-3, .col-sm-3{
        img{
            cursor: pointer;
        }
        padding-right: 5px;
        padding-left: 5px;
    }
}

.rightest {
    visibility: visible;
}
.col-md-12{
    padding: 0
}

#single-image{
    width: 100%;
}

@media screen and (max-width: 767px) {
    .carousel-control {
        font-size: 15px;
    }
}
