.grid {
    margin: 0 auto;
    list-style: none;
    .item-product{
        padding: 20px 10px 50px 10px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        position: relative;
    }
    .item-product:hover{
        -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    }
    .missing-articles-item{
        padding-left: 10px;
        padding-right: 10px;
    }
    .right{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    figure {
        margin: 0;
        height: 100%;
        position: relative;
        .img-1, .img-2{
            height: 100% !important;
        }
        img {
            max-width: 100%;
            height: 100% !important;
            width:100%;
            display: block;
            position: relative;
        }
    }
    figure .img-2{display:none;position:absolute;top:0;left:0;z-index:99;}
    figure:hover .img-2{display:inline;}
}


@media screen and (max-width: 31.5em) {
    .grid {
        //padding: 10px 10px 100px 10px;
    }
    .grid .img-product {
        width: 100%;
    }
}
